@font-face {
    font-family: 'ronniabolditalic';
    src: url('../font/ronniabolditalic.eot');
    src: url('../font/ronniabolditalic.eot?#iefix') format('embedded-opentype'),
         url('../font/ronniabolditalic.woff') format('woff'),
         url('../font/ronniabolditalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ronniaregular';
    src: url('../font/ronniareg.eot');
    src: url('../font/ronniareg.eot') format('embedded-opentype'),
         url('../font/ronniareg.woff') format('woff'),
         url('../font/ronniareg.ttf') format('truetype'),
         url('../font/ronniareg.svg#RonniaRegular') format('svg');
}
@font-face {
    font-family: 'ronniabold';
    src: url('../font/ronniabold.eot');
    src: url('../font/ronniabold.eot?#iefix') format('embedded-opentype'),
         url('../font/ronniabold.woff') format('woff'),
         url('../font/ronniabold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ronniaregitalic';
    src: url('../font/ronniaregitalic.eot');
    src: url('../font/ronniaregitalic.eot?#iefix') format('embedded-opentype'),
         url('../font/ronniaregitalic.woff') format('woff'),
         url('../font/ronniaregitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_rgbold';
    src:  url('../font/proxima_nova_bold-webfont.eot');
    src:  url('../font/proxima_nova_bold-webfont.eot?#iefix') format('embedded-opentype'),
          url('../font/proxima_nova_bold-webfont.woff') format('woff'),
          url('../font/proxima_nova_bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_novalight';
    src:  url('../font/proxima_nova_light-webfont.eot');
    src:  url('../font/proxima_nova_light-webfont.eot?#iefix') format('embedded-opentype'),
          url('../font/proxima_nova_light-webfont.woff') format('woff'),
          url('../font/proxima_nova_light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_rgregular';
    src:  url('../font/proxima_nova_reg-webfont.eot');
    src:  url('../font/proxima_nova_reg-webfont.eot?#iefix') format('embedded-opentype'),
          url('../font/proxima_nova_reg-webfont.woff') format('woff'),
          url('../font/proxima_nova_reg-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_novasemibold';
    src:  url('../font/proxima_nova_reg-webfont.eot');
    src:  url('../font/proxima_nova_reg-webfont.eot?#iefix') format('embedded-opentype'),
          url('../font/proxima_nova_reg-webfont.woff') format('woff'),
          url('../font/proxima_nova_reg-webfont.ttf') format('truetype');
/*     src:  url('../font/proxima_nova_sbold-webfont.eot');
    src:  url('../font/proxima_nova_sbold-webfont.eot?#iefix') format('embedded-opentype'),
          url('../font/proxima_nova_sbold-webfont.woff') format('woff'),
          url('../font/proxima_nova_sbold-webfont.ttf') format('truetype'); */
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/u-WUoqrET9fUeobQW7jkRT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSha1RVmPjeKy21_GQJaLlJI.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzBa1RVmPjeKy21_GQJaLlJI.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/EInbV5DfGHOiMmvb1Xr-hha1RVmPjeKy21_GQJaLlJI.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxrsuoFAk0leveMLeqYtnfAY.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/xjAJXh38I15wypJXxuGMBtIh4imgI8P11RFo6YPCPC0.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxmWeb5PoA5ztb49yLyUzH1A.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxoUt79146ZFaIJxILcpzmhI.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxqQf9gnzM91ovO3JZgha9gY.woff) format('woff');
}









body {
  font-family: 'ronniaregular';
  
}

h1, h2, h3 {
  font-family: 'ronniabolditalic';
  color: #006f51;
  
}

h1 {
  font-size: 2em;
  margin-bottom:20px;
}

h2 {
  font-size: 1.4em;
  margin-bottom:10px;
  margin-top:20px;
}

h3 {
  font-size: 1.2em;
  margin-bottom:8px;
}


p {
  line-height: 1.2em;
  margin: 1.5em 0;
}

a {
  color: #fb7f0f;
}

ul {
  padding: 0 0 0 20px;
}

ul li {
  list-style-type: disc;
  margin: 0.5em 0;
}

img {
  max-width: 100%;
}

#top-header,
#footer-bottom {
  height: 90px;
  background-color: #fb7f0f;
  color: #fff;
}

#top-header a,
#footer-bottom a {
  color: #fff;
  text-decoration: none;
}

.contacts {
  width: 1034px;
  margin:0 auto;
  padding-top:24px;
}

.contact {
  background-repeat: no-repeat;
  float:left;
  height: 40px;
}

.contact .info {
  margin: 0 20px 0 46px;
  padding-top:15px;
  float: left;
  
}



#contact-phone {
  background-image: url(../images/header-icon-tel.png);
}

#contact-mail {
  background-image: url(../images/header-icon-email.png);
}

#contact-web {
  background-image: url(../images/header-icon-web.png);
}

#contact-address {
  background-image: url(../images/header-icon-venue.png);
}

#contact-fb {
  background-image: url(../images/header-icon-fb.png);
}












#header {
  background: url(../images/header-bg.png);
  height: 275px;
}

#header h2 {
  color: #ffdd57;
  font-size:3em;
  margin-bottom: 25px;
}

#header-logo {
  background: url(../images/header-logo.png);
  width: 305px;
  height: 289px;
  margin-left: 88px;
  float: left;
  margin-top: -14px;
}

#header-text {
  float: left;
  margin: 63px 0 0 8%;
  width: 50%;
  color: #caf8c6;
  font-family: 'Open Sans';
  line-height: 1.4em;
}





#main-menu {
  background: #00291e;
  height: 70px;
  clear: both;
}

#main-menu ul {
  height: 100%;
}

#main-menu ul#menu li.submenu ul#submenu {
  padding: 0;
  position: absolute;
  left: 0;
  top: 70px;
  display: none;
  z-index: 200;
}

#main-menu ul#menu li.submenu ul#submenu li {
  float: none;
  height: 0;
  padding: 26px 13px 36px;
  background: #099e76;
}

#main-menu ul#menu::before {
  background: url(../images/logo.png);
  margin-left: 54px;
  content: '';
  float:left;
  width: 70px;
  height: 70px;
}

#main-menu ul li {
  float:left;
  list-style: none;
  height:18px;
  padding: 26px 13px; 
  position: relative;
  margin: 0;
}

#main-menu ul li.active,
#main-menu ul li:hover {
  background: #099e76;
}

#main-menu ul li a {
  text-decoration: none;
  color: #fff;
}














#main-content {
  margin: 66px auto;
  clear: both;
  width: 940px;
}

#main-content h1 {

}

/* TIMELINE */

#main-content #items-left,
#main-content #items-right,
#main-content #timeline {
  width: 460px;
  float:left;
}

#main-content #timeline {
  width: 7px;
  height: 7338px;
  background: #a4e3a0;
  margin-top: 16px;
}

#main-content .item-content {
  margin: 3px 0 0 28px;
  width: 370px;
}

#main-content .item {
  width: 100%;
  float: left;
  margin-bottom: 50px;
  position: relative;
}


#main-content .item::before {
  width: 19px;
  height: 19px;
  display: block;
  content: '';
  float: left;
  background: url(../images/dot.png);
}

#main-content .item-title {
  color: #006f51;
  font-family: 'ronniabolditalic';
  font-size:1.5em;
  line-height: 1.4em;
  margin-top: -6px;
}

#main-content .item::after {
  background: #a4e3a0;
  width: 38px;
  height: 7px;
  content: '';
  display: block;
  position: absolute;
  top: 7px;
  right: 0;
}

/* RIGHT */

#main-content #items-right {
  padding-top: 100px;
}

#main-content #items-right .item {
  margin-left: 48px;
}

#main-content #items-right .item::after {
  background: #a4e3a0;
  width: 38px;
  height: 7px;
  content: '';
  display: block;
  position: absolute;
  top: 7px;
  left: -48px;
}


#main-content .month {
  background: url(../images/month-arrow-left.png) no-repeat 100% 6px;
  color: #006f51;
  font-family: 'ronniabolditalic';
  font-size:2.2em;
  text-align: right;
  padding-right: 40px;
  position: relative;
  z-index:100;
  width: 434px;
  float: left;
  margin-bottom:20px;
}

#main-content #items-right .month {
  
  background: url(../images/month-arrow-right.png) no-repeat 0% 6px;
  padding: 0;
  padding-left: 40px;
  text-align: left;
  float: right;
}

.month.june {
  margin-top: 60px;
}

.month.august {
  margin-top: 60px;
}

.month.february {
  margin-top: 80px;
}


.month.october {
  margin-top: 60px;
}










#footer {
  background: #a4e3a0;
  height: 220px;
  width: 100%;
  color: #006f51;
  overflow: hidden;
}

#footer h2 {
  font-family: 'ronniabolditalic';
  font-size:2em;
}

#footer #slider {
  width: 1000px;
  margin: 14px 188px;
  overflow: hidden;
}

#footer #slider-title {
  margin: 50px 0 0 181px;
  
}

#footer #slider::before {
  width: 70px;
  height: 56px;
  background: url(../images/quote.png);
  content: '';
  display: block;
  float: left;
}

#footer #slider ul {
    padding: 0 0 0 87px;
}

#footer #slider ul li.slide {
    list-style: none;
    width: 520px !important;
}

#footer #slider ul.bjqs-controls {
  position: absolute;
  top: 0;
  right: 30px;
  width: 71px;
}

#footer #slider ul.bjqs-controls li.bjqs-prev {
  display: none;
}

#footer #slider ul.bjqs-controls li.bjqs-next a {
  text-indent: -9999px;
  background: url(../images/sliderbtn.png) no-repeat;
  width: 39px;
  height: 39px;
  display: block;
}



#timeline-page table td,
#timeline-page table th {
  font-size: 0.9em;
  padding:4px;
  border: 1px solid #ccc;
}



/* REPORT */

.search-keyword,
.reporter select {
  margin: 0 30px 0 0;
}

.reporter #search-results {
  display: table;
  margin-top:20px;
  width: 950px;
}

.reporter .row {
  overflow: hidden;
  clear: both;
  display: table-row;
}

.reporter .field {
  
  padding: 6px;
  width:12%;
  min-height: 16px;
  padding:15px 8px 10px 8px;
  border-right: 1px solid #fff;
  display: table-cell;
    
}

.reporter #table-header .field.amount {
  text-align: right;
  width: 16%;
}

.reporter #table-header {
  background: #099e76;
  color: #fff;
  overflow: hidden;
  display: table-row;
}

.reporter .row.even {
  background: #a0de9b;
}

.reporter .row.odd {
  background: #93d58e;
}




.munkatarsak h2 {
  background: url(../images/month-arrow-right.png) no-repeat left 0;
  padding: 0 0 0 36px;
  margin: 0;
  font-size:2.3em;
  line-height: 1.2em;
}

.munkatarsak h3 {
  background: url(../images/icon-li2.png) no-repeat left 3px;
  background-size: 17px;
  padding: 0 0 0 36px;
  margin: 0;
  font-size: 2em;
  line-height: 1.2em;
}

.munkatarsak table img {
  float: left;
  margin: 0 13px 0 0;
  border-bottom: 10px solid #fb7f0f;
}

.munkatarsak table td {
  background: transparent;
  padding: 0 20px 0 20px;
  color: #006f51;
  border-right: 1px solid #c8e8c5;
  border-bottom: 40px solid #fff;
  font-size: 12px;
  line-height: 14px;
  width: 300px;
}

.munkatarsak table td strong {
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  color: #00291e;
}






.eredmenykimutatas table th {
  background: #099e76;
  color: #fff;
  padding: 12px;
  text-align: left;
}

.eredmenykimutatas table tr:nth-child(even) {
  background: #a0de9b;
}

.eredmenykimutatas table tr:nth-child(odd) {
  background: #93d58e;
}

.eredmenykimutatas table td {
  padding: 12px;
}

.eredmenykimutatas table td.lpad {
  padding-left: 28px;
}

.eredmenykimutatas table th#title {
  width: 580px;
}

.eredmenykimutatas table th#amount {
  width: 360px;
}

.eredmenykimutatas table tr.emp {
  font-weight: bold;
}


.merleg table th {
  background: #099e76;
  color: #fff;
  padding: 12px;
  text-align: left;
}

.merleg table tr:nth-child(even) {
  background: #a0de9b;
}

.merleg table tr:nth-child(odd) {
  background: #93d58e;
}

.merleg table td {
  padding: 12px;
}

.merleg table td.lpad {
  padding-left: 28px;
}

.merleg table th#title {
  width: 580px;
}

.merleg table th#prevyear,
.merleg table th#actyear {
  width: 360px;
}

.merleg table tr.emp {
  font-weight: bold;
}

.merleg table tr td:nth-child(2),
.merleg table tr td:nth-child(3) {
  text-align: right;
}

.merleg td {
  
}



#lang-switcher {
  padding:10px 0 0;
  text-align: right;
  margin:0 auto;
  width: 940px;
}






