@font-face {
    font-family: 'RonniaBold';
    src: url('ronniabold.eot');
    src: url('ronniabold.eot') format('embedded-opentype'),
         url('ronniabold.woff') format('woff'),
         url('ronniabold.ttf') format('truetype'),
         url('ronniabold.svg#RonniaBold') format('svg');
}
